{% extends "project/base.html" %}

    {% block content %}
    <h1>Products</h1>
    <div class="row container">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                {% if product.image %}
                    <img src="..." class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">
                      <div>
                      Description: {{product.detail}}
                      Price: {{product.price}}
                      </div>
                    </p>
                    <form action="{% url 'add_to_cart' product.name%}" method="post" >
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Add to Cart">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock content %}


