{% extends "project/base.html" %}
{% block content %}
<h1>shopping cart</h1>
{% if cart %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Empty this product</th>

    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
    <tr>
        <div>
            <td>
                <a href="{% url 'homepage' %}">{{item.product.name}}</a></td>
            <td>
                <form action="{% url 'update' item.product.name %}" method="post">
                <select class="form-select" name="choice" aria-label="Default select example">
                    <option selected>{{item.quantity}}</option>
                    {num : range(10)}
                    {% for i in data %}
                    <option id="choice{{i}}" value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
                {% csrf_token %}
                        <input type="submit" value="Update">
                </form>
            </td>
            <td>
                <div class="container-fluid">


                    <form  action="{% url 'remove' item.product.name %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </td>
        </div>

    </tr>
    {% endfor %}

    </tbody>
</table>
{% else %}
<p>Your shopping cart is empty.</p>
{% endif %}
{% endblock content %}
